<div align="center">
  <h3> Upload your file contains JSON data of Spectrum</h3>
  <br>
  <input type='file' accept='text/plain' (change)='openFile($event)'>
  <button type="button" (click)="getJsonData()" class="btn btn-success">View Chart</button>
  <div [hidden]="!error">
    <h4><p style="color: red">{{ message }}</p></h4>
  </div>
</div>
<br>
<br>

<br>
<br>
<div align="center">
  <google-chart #chart
                [title]="title"
                [type]="type"
                [data]="data"
                [columnNames]="columnNames"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>

</div>
<div>
  <span><br><br><br></span>
</div>
